<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <POS.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>SMS_DB</value>
            </setting>
            <setting name="mode" serializeAs="String">
                <value>SQL</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>ASD@123</value>
            </setting>
            <setting name="PrinterR" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterRPT" serializeAs="String">
                <value />
            </setting>
        </POS.Properties.Settings>
    </userSettings>
</configuration>